{% extends "base.html" %}
{% block script %}<script src="{{url_for('static', filename='script.js')}}"></script>{% endblock %}
{% block title %}Location - {{ city }}{% endblock %}
{% block header %}<h2>{{ city }}</h2>{% endblock %}

{% block content %}
<img class="imgLocMain" src="{{ imgUrl }}">
<a class="btnLinkToSubmitPage" href="/review">Submit a Review</a>

<div class="fullSizeContainer">
    <table class="locationScores">
        <tr>
            <th>Destination Scores:</th>
            <td>Positivity: {{ scores.get('pos') }}</td>
            <td>Neutrality: {{ scores.get('neu') }}</td>
            <td>Negativity: {{ scores.get('neg') }}</td>
            <td>Total Reviews: {{ reviewCount }}</td>
        </tr>
    </table>
</div>
<br>
<div class="fullSizeContainer">
    <h3>About</h3>
    <p>{{ locationText }}</p>
</div>

<div class="fullSizeContainer">
    <h3>User Reviews</h3>
    {% for review in reviews %}
    <p id="container_review{{ review[2] }}">
        <span id="reviewText{{ review[2] }}">{{ review[0] }}</span>
        <button class="btnEditReview" onclick="editReview({{ review[2] }})">edit</button>
        <button class="btnDeleteReview" onclick="deleteReview({{ review[2] }})">delete</button><br>
        <span class="reviewerName" id="reviewUser{{ review[2] }}">{{ review[1] }}</span>
    </p>
    {% endfor %}
</div>

{% endblock %}