<h1>You've reached the home page!</h1>
<section>
    <form action="/result" method="post">
        <section>
            <label for="searchTerm">Enter the thing you'd like to see:</label>
            <input type="text" id="searchTerm" placeholder="Search Term" name="searchTerm">
        </section>
</section>
<div>
	<a title="Opioła Jerzy (Poland), CC BY-SA 3.0 &lt;http://creativecommons.org/licenses/by-sa/3.0/&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Malus_domestica_a1.jpg"><img width="512" alt="Malus domestica a1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Malus_domestica_a1.jpg/512px-Malus_domestica_a1.jpg"></a>
</div>
<div>
	<a title="Opioła Jerzy (Poland), CC BY-SA 3.0 &lt;http://creativecommons.org/licenses/by-sa/3.0/&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Malus_domestica_a1.jpg"><img width="1024" alt="Malus domestica a1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Malus_domestica_a1.jpg/1024px-Malus_domestica_a1.jpg"></a>
</div>