<section>
    <p class="lead">
        Sorry. We couldn't find any free images of<br>
        "{{searchTerm}}".
    </p>
</section>
</div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <a class="btn btn-primary btn-lg" href="/">Try Again</a>
        </div>
    </div>
</div>