<h1>Image Scraper Microservice GUI - Results<h1>
<section>
    <p>Search Term: </p>
    <p>URL: </p>
    <p>Width: </p>
    <p>Height: </p>
    <p>Attribution: </p>
</section>
<section>
    <h2>Image:</h2>
    {{data}}
</section>
<div></div>