/* Give nav bar a blue background */
.main_nav{
    background-color: #4895ef;
    overflow: hidden;
  }
  
/* Style nav bar links */
.main_nav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 1.5em 2em;
    text-decoration: none;
    font-size: 1em;
}

/* Change link background color on hover */
.main_nav a:hover {
    background-color: #4361EE;
}  

/* Style the search box on nav bar */
.nav_search {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 1.5em 2em;
    text-decoration: none;
    font-size: 1em;
}

/* Style the link to the Submit Review page */
.btnLinkToSubmitPage{
    color: #ffffff;
    background-color: #560BAD;
    padding: 1.5em 2em;
    text-decoration: none;
}

/* Style the link to the Submit Review page */
.btnLinkToSubmitPage:hover{
    color: #ffffff;
    background-color: #3A0CA3;
    text-decoration: none;
}

.imgLocMain{
    border-radius: 0.5em;
    max-width: 30%;
    height: auto;
}